{% extends "doctor/base_doctor.html"%}

{% block content%}

<div class="app-container">

    <!-- App hero header starts -->
    <div class="app-hero-header d-flex align-items-center">

        <!-- Breadcrumb starts -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a href="{{url_for('index_doctor')}}">Doctor</a>
            </li>
            <li class="breadcrumb-item text-primary" aria-current="page">
                profile du docteur
            </li>
        </ol>
        <!-- Breadcrumb ends -->

        <!-- Sales stats starts -->
        <div class="ms-auto d-lg-flex d-none flex-row">
            <div class="d-flex flex-row gap-1 day-sorting">
                <button class="btn btn-sm btn-primary">Ajourd'hui</button>
                <button class="btn btn-sm">7 jours</button>
                <button class="btn btn-sm">2 semaines</button>
                <button class="btn btn-sm">1 mois</button>
                <button class="btn btn-sm">3 mois</button>
                <button class="btn btn-sm">6 mois</button>
                <button class="btn btn-sm">1 années</button>
            </div>
        </div>
        <!-- Sales stats ends -->

    </div>
    <!-- App Hero header ends -->

    <!-- App body starts -->
    <div class="app-body">

        <!-- Row starts -->
        <div class="row gx-3">
            <div class="col-xxl-6 col-sm-12">
                <div class="card mb-3 bg-1">
                    <div class="card-body mh-230">

                        <!-- Row starts -->
                        <div class="row gx-3">
                            <div class="col-sm-3">
                                <img src="{{ url_for('static', filename='images/user2.png') }}"
                                    class="img-fluid rounded-3" alt="Medical Dashboard">
                            </div>

                            <div class="col-sm-9">
                                <div class="text-white mt-3">
                                    <h6>Bonjour je suis,</h6>
                                    <h3>Dr. Eloge GOMINA</h3>
                                    <h6>MBBS, MS - Chirurgie générale, médecin général</h6>
                                    <h6>16 ans d'expérience dans l'ensemble</h6>
                                    <div class="rating-stars">
                                        <div class="readonly5"></div>
                                    </div>
                                    <div class="mt-1">2896 avis</div>
                                </div>
                            </div>
                        </div>
                        <!-- Row ends -->

                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-sm-4">
                <div class="card mb-3">
                    <div class="card-body mh-230">

                        <!-- Card details start -->
                        <div>
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-box xl bg-primary-subtle rounded-5 mb-2 no-shadow">
                                    <i class="ri-empathize-line fs-1 text-primary"></i>
                                </div>
                                <h1 class="text-primary">3605</h1>
                                <h6>Patients</h6>
                                <span class="badge bg-primary">68% Haut</span>
                            </div>
                        </div>
                        <!-- Card details end -->

                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-sm-4">
                <div class="card mb-3">
                    <div class="card-body mh-230">

                        <!-- Card details start -->
                        <div>
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-box xl bg-danger-subtle rounded-5 mb-2 no-shadow">
                                    <i class="ri-lungs-line fs-1 text-danger"></i>
                                </div>
                                <h1 class="text-danger">507</h1>
                                <h6>chirurgie</h6>
                                <span class="badge bg-danger">26% Haut</span>
                            </div>
                        </div>
                        <!-- Card details end -->

                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-sm-4">
                <div class="card mb-3">
                    <div class="card-body mh-230">

                        <!-- Card details start -->
                        <div>
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-box xl bg-success-subtle rounded-5 mb-2 no-shadow">
                                    <i class="ri-star-line fs-1 text-success"></i>
                                </div>
                                <h1 class="text-success">2896</h1>
                                <h6>Avis</h6>
                                <span class="badge bg-success">30% Haut</span>
                            </div>
                        </div>
                        <!-- Card details end -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Row ends -->

        <!-- Row starts -->
        <div class="row gx-3">
            <div class="col-xl-8 col-sm-12">

                <!-- Row starts -->
                <div class="row gx-3">
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="card-title">À propos</h5>
                            </div>
                            <div class="card-body">

                                <p>
                                    Le Dr Jessika Linda est un éminent endocrinologue associé à des hôpitaux MED
                                    spécialement formés pour diagnostiquer les maladies liées aux glandes. Elle se
                                    spécialise dans le traitement des personnes souffrant de déséquilibres hormonaux,
                                    généralement des glandes dans le système endocrinien. Les conditions les plus
                                    courantes traitées par le Dr Linda sont le diabète, les troubles métaboliques, le
                                    manque de croissance, l'ostéoporose, les maladies thyroïdiennes, les cancers des
                                    glandes endocriniennes, la sur ou la sous-production d'hormones, les troubles du
                                    cholestérol, l'hypertension et l'infertilité. Également disponible pour consultation
                                    à l'hôpital Med. L'approche du Dr Linda réside dans la compréhension des maladies
                                    des patients et la procédure recommandée avec les soins.</p>

                                <div class="">
                                    <h6>Specialisé en</h6>
                                    <div class="d-flex flex-wrap gap-2">
                                        <span class="badge bg-primary">Diabète</span>
                                        <span class="badge bg-primary">Thyroïde</span>
                                        <span class="badge bg-primary">Ostéoporose</span>
                                        <span class="badge bg-primary">Chirurgienne</span>
                                        <span class="badge bg-primary">Générale</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="card-title">Avis</h5>
                            </div>
                            <div class="card-body">

                                <!-- Reviews starts -->
                                <div class="d-grid gap-5">
                                    <div class="d-flex">
                                        <img src="{{ url_for('static', filename='images/patient1.png') }}"
                                            class="img-4x rounded-2" alt="Medical Admin Template">
                                        <div class="ms-3">
                                            <span class="badge border border-primary text-primary mb-3">Excellent</span>
                                            <h6>Wendi Combs</h6>
                                            <p class="mb-2">I am consulting with her for last 10 years and
                                                she is really good in
                                                thyroid. Her experience has greatest strength. By looking at
                                                the report she will
                                                diagnosis the problem and listen to us. We might think she
                                                is in a hurry to complete the
                                                patient but her experience makes her 100%.</p>
                                            <p><i class="ri-thumb-up-line"></i> I recommend the doctor.</p>
                                            <div class="rating-stars">
                                                <div class="readonly5"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <img src="{{ url_for('static', filename='images/patient2.png') }}"
                                            class="img-4x rounded-2" alt="Medical Admin Template">
                                        <div class="ms-3">
                                            <span class="badge border border-primary text-primary mb-3">Excellent</span>
                                            <h6>Nick Morrow</h6>
                                            <p class="mb-2">Dr.Jessika is my physician from past four years.
                                                Till now, whatever
                                                treatment and advice she has given me is of the best kind. I
                                                am extremely satisfied with
                                                it. There may be about 10 minutes of waiting period before
                                                consultation. The hospital
                                                and staff are good as well.</p>
                                            <p><i class="ri-thumb-up-line"></i> I recommend the doctor.</p>
                                            <div class="rating-stars">
                                                <div class="readonly5"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <img src="{{ url_for('static', filename='images/patient3.png') }}"
                                            class="img-4x rounded-2" alt="Medical Admin Template">

                                        <div class="ms-3">
                                            <span class="badge border border-danger text-danger mb-3">Mauvais</span>
                                            <h6>Carole Dodson</h6>
                                            <p class="mb-2">Its a not recommerded example. Its a not
                                                recommerded example. Its a not
                                                recommerded example. Its a not recommerded example.
                                            </p>
                                            <p><i class="ri-thumb-down-line"></i> I do not recommend the
                                                doctor.</p>
                                            <div class="rating-stars">
                                                <div class="readonly2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary">Lire Mlus</button>
                                    </div>
                                </div>
                                <!-- Reviews ends -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row ends -->

            </div>
            <div class="col-xl-4 col-sm-12">

                <!-- Row starts -->
                <div class="row gx-3">
                    <div class="col-xl-12 col-sm-6">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="card-title">Disponibilité</h5>
                            </div>
                            <div class="card-body">

                                <div class="d-flex flex-wrap gap-1 mb-3">
                                    <span class="p-2 lh-1 bg-light rounded-2 box-shadow">Mon - 9:AM -
                                        2:PM</span>
                                    <span class="p-2 lh-1 bg-light rounded-2 box-shadow">Tue - 9:AM -
                                        2:PM</span>
                                    <span class="p-2 lh-1 bg-light rounded-2 box-shadow">Wed - 9:AM -
                                        2:PM</span>
                                    <span class="p-2 lh-1 bg-light rounded-2 box-shadow">Thu - 9:AM -
                                        2:PM</span>
                                    <span class="p-2 lh-1 bg-light rounded-2 box-shadow">Fri - 9:AM -
                                        2:PM</span>
                                    <span class="p-2 lh-1 bg-light rounded-2 box-shadow">Sat - 9:AM -
                                        2:PM</span>
                                    <span class="p-2 lh-1 bg-light rounded-2 box-shadow">Sun - NA</span>
                                </div>

                                <a href="{{url_for('prendre_rendez_vous_doctor')}}" class="btn btn-primary">
                                    Prendre Rendez-vous
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-sm-6">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="card-title">Récompence</h5>
                            </div>
                            <div class="card-body">

                                <div>
                                    <div id="carouselAwards" class="carousel carousel-dark slide"
                                        data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselAwards" data-bs-slide-to="0"
                                                class="active" aria-current="true" aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselAwards" data-bs-slide-to="1"
                                                aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselAwards" data-bs-slide-to="2"
                                                aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active" data-bs-interval="10000">
                                                <img src="{{ url_for('static', filename='images/award/award.svg') }}"
                                                    class="d-block w-100" alt="Medical Templates">
                                            </div>
                                            <div class="carousel-item" data-bs-interval="5000">
                                                <img src="{{ url_for('static', filename='images/award/award1.svg') }}"
                                                    class="d-block w-100" alt="Medical Templates">
                                            </div>
                                            <div class="carousel-item" data-bs-interval="2500">
                                                <img src="{{ url_for('static', filename='images/award/award2.svg') }}"
                                                    class="d-block w-100" alt="Medical Templates">
                                            </div>
                                        </div>

                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselAwards" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselAwards" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        </button>
                                    </div>

                                    <div class="text-center">
                                        <h1 class="text-primary">4</h1>
                                        Récompenses reçues en 2024.
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row ends -->

            </div>
        </div>
        <!-- Row ends -->

    </div>
    <!-- App body ends -->

</div>

{%endblock%}