<nav id="sidebar" class="sidebar-wrapper">

  <!-- Sidebar profile starts -->
  <div class="sidebar-profile">
    <img src="{{ url_for('static', filename='images/user6.png') }}" class="img-shadow img-3x me-3 rounded-5"
      alt="Hospital Admin Templates">
    <div class="m-0">
      <h5 class="mb-1 profile-name text-nowrap text-truncate">Nick Gonzalez</h5>
      <p class="m-0 small profile-name text-nowrap text-truncate">Dept Admin</p>
    </div>
  </div>
  <!-- Sidebar profile ends -->

  <!-- Sidebar menu starts -->
  <div class="sidebarMenuScroll">
    <ul class="sidebar-menu">
      <li class="active current-page">
        <a href="dashboard2.html">
          <i class="ri-home-smile-2-line"></i>
          <span class="menu-text">Tableau de bord</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-heart-pulse-line"></i>
          <span class="menu-text">Patients</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="edit-patient.html">Admissions</a>
          </li>
          <li>
            <a href="patients-list.html">Liste Patient</a>
          </li>
          <li>
            <a href="add-patient.html">Ajouter un patient</a>
          </li>
          <li>
            <a href="edit-patient.html">Modifier un patient</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-dossier-line"></i>
          <span class="menu-text">Appointments</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="appointments.html">Gestion de Rendez-vous</a>
          </li>
          <li>
            <a href="appointments-list.html">Liste Rendez-vous</a>
          </li>
          <li>
            <a href="book-appointment.html">Prendre Rendez-vous</a>
          </li>
          <li>
            <a href="edit-appointment.html">Modiier rendevous</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="events.html">
          <i class="ri-calendar-line"></i>
          <span class="menu-text">Messagerie</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-building-2-line"></i>
          <span class="menu-text">Departements</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="departments-list.html">liste de departement</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-group-2-line"></i>
          <span class="menu-text">Congé & presence</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="staff-attendance.html">Présence assiduité</a>
          </li>
          <li>
            <a href="staff-leaves.html">Congé personnel</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-money-dollar-circle-line"></i>
          <span class="menu-text">Salaires</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="payslip.html">Fiche de paie</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-hotel-bed-line"></i>
          <span class="menu-text">Chambre</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="room-statistics.html">Reserver Chambre</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-car-washing-line"></i>
          <span class="menu-text">Ambulance</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="ambulance-list.html">Ambulance List</a>
          </li>
          <li>
            <a href="add-ambulance.html">Add Ambulance</a>
          </li>
          <li>
            <a href="edit-ambulance.html">Edit Ambulance</a>
          </li>
          <li>
            <a href="ambulance-call-list.html">Ambulance Call List</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="gallery.html">
          <i class="ri-tent-line"></i>
          <span class="menu-text">Galerie</span>
        </a>
      </li>
      <li>
        <a href="news.html">
          <i class="ri-news-line"></i>
          <span class="menu-text">Actualités et mises à jour</span>
        </a>
      </li>
      <li>
        <a href="settings.html">
          <i class="ri-settings-5-line"></i>
          <span class="menu-text">Parametre</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#!">
          <i class="ri-login-circle-line"></i>
          <span class="menu-text">Comptes</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="login.html">Connection</a>
          </li>
          <li>
            <a href="signup.html">Déconnection</a>
          </li>
          <li>
            <a href="forgot-password.html">Mot de passe oublié </a>
          </li>
          <li>
            <a href="reset-password.html">Rénistaliser mot de passe</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#!">
          <i class="ri-exchange-line"></i>
          <span class="menu-text">Chip</span>
          <span class="badge bg-primary ms-auto">6</span>
        </a>
      </li>
      <li>
        <a href="#!">
          <i class="ri-ticket-line"></i>
          <span class="menu-text">Badge</span>
          <span class="badge border border-primary text-primary ms-auto">Chip</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Sidebar menu ends -->

  <!-- Sidebar contact starts -->
  <div class="sidebar-contact">
    <p class="fw-light mb-1 text-nowrap text-truncate">Contact d'urgence</p>
    <h5 class="m-0 lh-1 text-nowrap text-truncate">+228 91 27 10 04</h5>
    <i class="ri-phone-line"></i>
  </div>
  <!-- Sidebar contact ends -->

</nav>