<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MediJutsu</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" type="image/svg+xml" href="{{ url_for('static', filename='images/logo-medijutsu.ico') }}">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/remix/remixicon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
</head>

<body class="login-bg">

    <div class="container">
        <div class="auth-wrapper">

            <form action="https://buybootstrap.com/demos/medflex/medflex-admin-dashboard/index.html">
                <div class="auth-box">
                    <a href="{{url_for('forgot_password')}}" class="auth-logo mb-4">
                        <img src="{{ url_for('static', filename='images/logo/logo_header2.png') }}"
                            alt="Bootstrap Gallery">
                    </a>

                    <h6 class="fw-light mb-4">
                        Afin d'accéder à votre tableau de bord, veuillez saisir l'ID de messagerie que vous avez fourni
                        pendant le
                        processus d'enregistrement.
                    </h6>

                    <div class="mb-3">
                        <label class="form-label" for="email">Votre Email <span class="text-danger">*</span></label>
                        <input type="text" id="email" class="form-control" placeholder="Entrez votre Email">
                    </div>

                    <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</body>

</html>