<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MediJutsu</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" type="image/svg+xml" href="{{ url_for('static', filename='images/logo-medijutsu.ico') }}">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/remix/remixicon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
</head>

<body class="login-bg">

    <div class="container">
        <div class="auth-wrapper">

            <form action="https://buybootstrap.com/demos/medflex/medflex-admin-dashboard/index.html">

                <div class="auth-box">
                    <a href="{{url_for('reset_pasword')}}" class="auth-logo mb-4">
                        <img src="{{ url_for('static', filename='images/logo/logo_header2.png') }}"
                            alt="Bootstrap Gallery">
                    </a>

                    <h4 class="mb-4">Renistaliser Mot de passe</h4>

                    <div class="mb-3">
                        <label class="form-label" for="currentPwd">Mot de Passe Actuel <span
                                class="text-danger">*</span></label>
                        <div class="input-group ">
                            <input type="password" id="currentPwd" class="form-control"
                                placeholder="Entrez le mot de passe actuel">
                            <button class="btn btn-outline-secondary" type="button">
                                <i class="ri-eye-line text-primary"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="newPwd">Nouveau Mot de Passe <span
                                class="text-danger">*</span></label>
                        <div class="input-group ">
                            <input type="password" id="newPwd" class="form-control"
                                placeholder="Entrez un nouveau mot de passe">
                            <button class="btn btn-outline-secondary" type="button">
                                <i class="ri-eye-line text-primary"></i>
                            </button>
                        </div>
                        <div class="form-text">
                            Votre mot de passe doit comporter 8 à 20 caractères.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="confNewPwd">Confirmer le Nouveau Mot de Passe <span
                                class="text-danger">*</span></label>
                        <div class="input-group ">
                            <input type="password" id="confNewPwd" class="form-control"
                                placeholder="Confirmer le nouveau mot de passe">
                            <button class="btn btn-outline-secondary" type="button">
                                <i class="ri-eye-line text-primary"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-primary">
                            Réinitialiser le mot de passe
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>

</body>

</html>